.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  color: #3b3b3b;
}

.dropbtn {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}

.dropbtn__text {
  margin-right: 10px;
  color: #3b3b3b;
}

.dropdown-content__option {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 20px;
  align-items: center;
}

.dropdown-content__option:hover {
  background-color: #ebebeb;
}

.dropdown-content__icon {
  margin-right: 12px;
  margin-left: 12px;
}

.dropdown-content__text {
  color: #3b3b3b;
  font-size: 14px;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  display: inline-block;
  text-align: initial;
}

.dropdown-content__option--hovered {
  background-color: #ebebeb;
}

.dropdown-content__option--selected {
  background-color: #cce2ff;
}

.menu {
  position: absolute;
  margin-top: 5px;
  border-radius: 4px;
  width: 250px;
}

/* Overriding 3rd pckgs styling */
.country-select__menu.country-select__menu {
  margin-top: 0;
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-top: none;
  cursor: pointer;
}

.country-select__placeholder.country-select__placeholder {
  color: #bfbfbf;
  text-align: left;
}

.country-select__control.country-select__control {
  box-sizing: border-box;
  min-height: 32px;
  padding: 5px 20px 5px 30px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  border-radius: 2px 2px 0 0;
  border-color: rgba(0, 0, 0, 0.2) !important;
  border-bottom: 0px #ebebeb solid;
  background-image: url("./assets/search.svg");
  background-position: 10px 13px;
  background-repeat: no-repeat;
  font-size: 14px;
}

/* hiding scrollbar -uncomment below if required */
/* .ReactVirtualized__Grid {
    overflow: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.ReactVirtualized__Grid::-webkit-scrollbar {
    width: 0;
    height: 0;
}
*/

/* .--country-select__menu.--country-select__menu {
  overflow: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.--country-select__menu.--country-select__menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}  */
