@font-face {
  font-family: "ArialMT";
  src: local("ArialMT"), url(./assets/fonts/arialmt.woff) format("woff");
}
body {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  font-family: "ArialMT", -apple-system, BlinkMacSystemFont, "ArialMT",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, sans-serif;
}
